.btn--secondary-accent{
  background-color:#ff8b2d;
  color:#fff;
  transition: all .5s;
}
.btn--secondary-accent:hover{
  font-size:16px;
  transition: all .2s;
}
button.ui-admin-bar--is-collapsed .ui-admin-bar__expand-button{
  display:none!important;
}